* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#img {
  width: 10%;
  height: auto;
  margin: 10px 500px;
}

body {
  font-size: 13px;
  font-weight: 400;
  font-family: monospace;
  margin: 0 0;
  color: #ffffff;
  background: linear-gradient(to right, #010e1f, #010e1f);
  background-size: cover;
}

h1 {
  font-family: monospace;
  margin: 0px 550px;
  text-align: center;
  border-left: 5px solid #ffffff;
  background: linear-gradient(to left, #f18324, #f18324);
  padding: 20px;
  color: #0d2226;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: #d2d0e6;
  margin: 25px 25px;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 600;
}

aside {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  gap: 150px;
}

aside h1 {
  font-family: monospace;
  margin: 0px 0px;
  text-align: left;
  border: none;
  background: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: #ffffff;
}

aside h2 {
  text-align: left;
  color: #d2d0e6;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 600;
}

aside img {
  width: 100px;
  height: 100px;
}

aside img:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #f18324;
}

aside a {
  text-decoration: underline;
  color: #f18324;
  font-weight: 600;
}

footer {
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer-top-wrapper {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  margin: 0 auto;
  padding: 16px;
  min-height: 160px;
}

.footer-top-wrapper > section {
  width: 100%;
}

footer h2 {
  text-align: center;
  color: #d2d0e6;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.7;
  font-size: 10px;
  font-weight: 600;
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

menu li {
  margin-bottom: 0px;
}
nav {
  font-family: monospace;
  font: bold;
  font-size: larger;
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: #ffffff;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin-left: 10px;
  padding: 1px;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav li a {
  color: #000000;
  text-decoration: none;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
}

.portfolio-item {
  text-align: center;
  color: #fff;
}


.portfolio-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd; 
  border-radius: 8px;
}

.portfolio-item h3 {
  margin: 10px 0;
}
.cert-container {
  display: flex;
  max-width: 50%;
  margin: auto;
  flex-direction: column;
  padding: 5rem 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Suporte para o iOS para uma rolagem mais suave */
}
.cert-grid {
  overflow: hidden;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.cert-carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.cert-item {
  flex: 0 0 99%;
  margin-right: 20px;
  border: 1px solid #010e1f;
  background-color: #f18324;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 1.5rem;
  text-align: center;
  color: #fff;
}

.cert-item:hover {
  transform: scale(1.02);
}

.cert-item h3 {
  margin: 10px 0;
}

.next-button {
  top: 50%;
  background-color: #f18324;
  color: #fff;
  border: none;
  width: 50px;
  text-align: end;
  padding: 1px 2px;
  cursor: pointer;
  font-size: 1px;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
  outline: none; 
}

.next-button:hover {
  background-color: #fff;
  color: #000000;
}

.next-button:active {
  background-color: #f18324;
}

@media screen and (max-width: 600px) {
  h1 {
      width: 100%;
      margin: 0 0;
  }
  aside {
      display: flex;
      gap: 10px;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      width: 100%;
  }
  #img {
      width: 100%;
      height: auto;
      margin: 10px 0;
  }
  .logos {
    width: 50%;
  }
  .section-content {
    width: 50%;
  }
  .cert-container, .section-container {
    margin: 0 26px;
    max-width: 100%;
  }
 .portfolio-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}
.cert-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}
.cert-item {
  flex: 0 0 95%;
}
}

.logos {
  width: 100%;
  margin: 0px 0px;
  border-top: 5px solid #ffffff;
  background: linear-gradient(to left, #ffffff, #ffffff);
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #0d2226;
}

.logos-container {
  width: 100%;
  overflow: hidden;
}

.logos-container img {
  width: 60px;
}

.logos-wrapper {
  display: flex;
  animation: scroll 20s linear infinite; /* Ajuste a duração conforme necessário */
  transition: transform 0.5s ease; /* Adiciona uma transição suave ao transform */
  will-change: transform;
}

.logo {
  margin-right: 50px; /* Espaçamento entre as logos */
}
.logos::after {
  background: linear-gradient(to left,hsla(0,0%,97%,0),var(#fff));
  left: 0;
}
.logos::before {
  opacity: 0.6;
}
.logos:after, .logos:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 250px;
  z-index: 2;
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); /* Mova para a esquerda */
  }
}


.section-container {
  padding: 5rem 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; 
}

.section-content {
  width: 1000px;
  height: 40vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-section{
  flex: 0 0 30%;
  margin-bottom: 1.5rem;
}

.card-content {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 40vh;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 1.5rem;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.card-content:hover {
  background-color: #f18324;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-25px);
}

.card-content:hover * {
  color: #fff;
}

.card-content img {
  width: 300px;
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.education-container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:10px;
}

.education-content {
  width: 50px;
  height: 40vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:10px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-section{
  flex: 0 0 30%;
  margin-bottom: 1.5rem;
}

.card-content {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 40vh;
  border-radius: 5px;
  padding: 1.5rem;
}

.card-content img {
  width: 300px;
}

.card-icon {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 1rem;
}


.card-title {
  color:#000000;
  margin-bottom: 0.5rem;
}

.card-text {
  color: #333;
}


